@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject UserManager<SPMS_Staff> StaffManager
@inject UserManager<SPMS_Student> Students

@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data

@{
    var staff = await StaffManager.GetUserAsync(User);
}

<!-- Front End layout Created by: George -->
<!--Back End Implementation Created by: Harry & Scott-->

<link rel="stylesheet" href="~/css/browseTopics.css">
<script src="~/js/listBoxExpansion.js"></script>
<script src="~/js/clearSearch.js"></script>

<body>
    <span class="body--browseTopics--title">Browse Topics</span>
    <!-- Search bar text field -->
    <div class="body--search--container">
        <form method="get">
            <input type="text" name="Search" placeholder="Search for a topic">
            <button type="submit">
                <div class="submitIcon"></div>
            </button>
        </form>
        <!-- Clear button that redirects to page -->
        <a asp-page = "/Index">
            <button class="clearbtn" type="button">Clear</button>
        </a>
    </div>


    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Course</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterCourses()">
            <!-- Drop down list for filter, searches through Courses list and displays name that routes courseID -->
            @foreach (var course in Model.Course)
            {
                <form method="get">
                    <a asp-page-handler="get" asp-route-courseID="@course.CourseID">@course.CourseName</a>
                </form>
            }
            <!-- Form that when a course is selected it actions onget request -->
        </div>
    </div>
    
    <div class="body--Topics--container">
        @if (User.IsInRole("Staff") | User.IsInRole("Co-ordinator"))
        { <!-- Only allows staff and co-ordinators to have access to create page -->
            <div class="body--Topics--addTopicContainer">
                <a asp-page="/Create">
                    <button>
                        <div class="addIcon"></div>
                    </button>
                </a>
            </div>
        }
        @foreach (var topic in Model.Topic)
        { <!-- Iterates through the topics that are contained in Model.Topics and displays Name, Description and Name of Supervisor -->
            <div class="topicBox">
                <span class="topicTitle">@topic.TopicName</span>
                @if (topic.SupervisorID != null) 
                { <!-- Finds the name of supervisor by passing in SupervisorID to staff manager then displays name if not null -->
                    var supervisor = await StaffManager.FindByIdAsync(topic.SupervisorID);
                    if (supervisor != null)
                    {
                        <div class="SupervisorGroup">
                            <span class="topicSupervisor">@supervisor.Name</span>
                            <div class="supervisorIcon"></div>
                        </div>
                    }
                }

                <div class="topicDescription">@topic.TopicDescription</div>

                <div class="topicButtonContainer">
                    <button class="expandTopic">
                        <div class="expandIcon"></div>
                    </button>

                    <!-- If the user is in the role student then this button will link to the addtopic handler (adds topic to basket)-->
                    @if (User.IsInRole("Student"))
                    {
                        <form method="post">
                            <button onclick="myFunction()" type="submit" class="addTopic" asp-page-handler="Add" asp-route-topicID="@topic.TopicID">
                                <div class="addIcon"></div>
                            </button>
                        </form>
                    }

                    @if (User.IsInRole("Co-ordinator"))
                    { <!-- If user is a coordinator then display button that links to edit page on the topic -->
                        <form method="submit">
                            <button type="submit" class="addTopic" asp-page="/Edit">
                                <div class="editIcon"></div>
                            </button>
                        </form>
                    }

                    @if (User.IsInRole("Staff") && staff.Id == topic.SupervisorID)
                    { <!-- If the user is staff then display the edit button but only on topics where they are supervisors on -->
                        <form method="submit">
                            <button type="submit" class="addTopic" asp-page="/Edit">
                                <div class="editIcon"></div>
                            </button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</body>

<!-- Code comments by Harry -->